html {
  font-size: 18px;
  font-family: sans-serif;
  /* background: #b0341f 0%;
  -moz-background: #b0341f 0%;
  -webkit-background: #b0341f 0%;
  -o-background: #b0341f 0%; */
  background: #333 0%;
  -moz-background: #333 0%;
  -webkit-background: #333 0%;
  -o-background: #333 0%;
  background-repeat: repeat;
  min-height: 100vh;
  max-width: 100%;
  background-image: url(/new-bg-square3.svg);
}

/* use background selector via html rather than body for better experience on mobile */

* {
  box-sizing: border-box;

  padding: 0;
  margin: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-decoration: none;
}

body {
  /* padding: 5px;
  margin: 5px; */
  position: relative;
}

.fab {
  color: white;
}

.fab:hover {
  font-size: larger;
  opacity: 0.5;
}

.fa {
  color: white;
}

.fa:hover {
  font-size: larger;
  opacity: 0.5;
}

.fas {
  color: white;
}

.fas:hover {
  font-size: larger;
  opacity: 0.5;
}

#topbar {
  /* position: fixed;
  top: 0; */
  width: 100%;
  height: 50px;

  /* min-height: 40px; */
  /* background-color: rgba(158, 96, 35, 0.464); */
  background-color: rgba(1, 16, 25, 0.902);
  /* background-color: rgba(1, 16, 25, 0.757); */
  /* background-color: rgba(9, 50, 77, 0.757); */
}

li {
  list-style: none;
}

a {
  color: #cb4a0a;
  /* color: #cd703d; */
  /* color: #c25719; */
  text-decoration: none;
}

.nav-link:hover {
  font-size: larger;
  opacity: 0.5;
}

.container {
  width: 1600px;
  /* margin: auto; */
}

.subcontainer {
  width: 85%;
  /* margin-left: 10px; */
  margin: auto;
}

.navbar {
  width: 100%;
  /* min-height: 30px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
  z-index: 1;
}

.nav-branding {
  font-family: fantasy;
}

.nav-branding:hover {
  font-size: larger;
  opacity: 0.5;
}

.bullhead {
  /* padding-top: 5px; */
  margin-top: 5px;
  width: 40px;
  height: 40px;
}

.hamburger {
  height: 40px;
  margin-bottom: 5px;
  /* margin-top: 5px; */
  /* padding-top: 5px; */
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px 0px;
  transition: all 0.1s ease-in-out;
  /* background-color: #c25719; */
  background-color: #cb4a0a;
  /* background-color: #cd703d; */
}

/* #home {
  margin-top: 70px;
} */

@media (max-width: 1600px) {
  .container {
    width: 100%;
  }
}

@media (max-width: 1024px) {
  .hamburger {
    display: block;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
    position: fixed;
    width: 100%;
    left: 100%;
    top: 50px;
    gap: 0;
    flex-direction: column;
    /* background-color: rgba(158, 96, 35); */
    background-color: rgba(1, 16, 25, 0.902);
    /* background-color: rgba(1, 16, 25, 0.757); */
    /* background-color: rgba(9, 50, 77, 0.757); */
    /* background-color: rgba(11, 6, 0, 0.884); */
    text-align: center;
    transition: all 0.1s ease-in-out;
  }

  .nav-item {
    border: 10px solid rgba(60, 60, 60, 0);
    border-radius: 10px;
    /* border: 3px solid rgba(65, 62, 62, 0.081); */
    /* border: 2px solid rgba(201, 195, 195, 0.081); */
    box-shadow: #b77656b6 0px 2px 5px 1px;

    /* box-shadow: #776868ae 0px 5px 6px 0px; */
    /* box-shadow: #070707 0px 3px 2px 0px; */

    margin: 6px 0;
    font-size: 0.8rem;
    font-weight: bolder;
  }

  .nav-menu.active {
    left: 0;
    z-index: 1;
    /*z-index push content to the front*/
    /* overflow: hidden; */
  }
}

.home-title {
  /* border-top: #44400c solid 1px; */
  margin-top: 10px;
  color: #ffffff;
  font-size: 2rem;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  /* margin-bottom: 40px; */
}

.home-links {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  /* margin-top: 60px; */
}

#preloader {
  background: #000000 url(/preloader.gif) no-repeat center;
  background-size: 120px;
  height: 100%;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 10;
}

iframe {
  /* padding: 5px; */
  /* padding: 0px 1px; */
  /* padding: 3px; */
  padding-top: 2px;
  padding-bottom: 1px;
  margin: 6px 0px 6px 0px;
  /* margin: 0% auto; */
  max-width: 100%;
  /* border-top: 1px solid #b25106;
  border-bottom: 1px solid #b25106;
  box-shadow: 0px 8px 13px -5px #8d5252; */
  /* border-top: 1px solid #6e4f4f7f;
  border-bottom: 1px solid #6e4f4f7f;
  box-shadow: 0px 8px 13px -5px #6e4f4f7f; */
  box-shadow: 0px 8px 25px -3px #000000d2;
  border-radius: 10px 10px 9px 9px;
  justify-items: center;
  align-self: center;
  justify-content: center;
  width: 350px;
  height: 200px;
}

/* (NOTE TO SELF)
background propery fills every pixels of the device opposed to background color and image properties only cover the viewport aka the app screen real estate*/

.phimtitle {
  font-family: sans-serif;
  text-align: center;
  font-size: 1rem;
  /* text-shadow: 3px 3px 2px rgb(88, 78, 78); */
  color: rgba(255, 255, 255, 0.718);
  margin-bottom: -20px;
  /* border-bottom: 1.5px dotted rgba(255, 255, 255, 0.462); */
}

.phimtitle1 {
  font-family: sans-serif;
  text-align: center;
  font-size: 1rem;
  /* text-shadow: 3px 3px 2px rgb(88, 78, 78); */
  color: rgba(255, 255, 255, 0.718);
  margin-bottom: -15px;
  margin-top: 10px;
}

.svg {
  width: 350px;
  margin-top: 20px;
  margin-left: 20px;
  /* margin-bottom: -35px; */
}

/* .svgg {
  width: 250px;
  margin-top: 10px;
}

.svggg {
  width: 70px;
  margin-top: 10px;
  margin-right: 10px;
} */

.flexbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-left: 35px;
  margin-bottom: -15px;

  /* align-items: center;
  justify-items: center; these properties unable to center items - only JC property centered item */
  /* margin-top: -40px; */
  /* margin-bottom: -30px; */
  /* margin-left: -10px; */
  /* margin: -20px; */
  /* padding-left: 60px; */
  /* border-bottom: 1.5px dotted rgba(255, 255, 255, 0.462); */
}

.button {
  width: 140px;
  max-width: 140px;
  background-color: transparent;
  /* background-color: rgba(255, 255, 255, 0.078); */
  /* background-color: rgba(255, 0, 0, 0.023); */
  background-color: rgba(0, 0, 0, 0.126);

  /* box-shadow: 0px 10px 13px -5px #633535a3; */
  /* box-shadow: 0px 8px 10px -8px #c7a003;
  -moz-box-shadow: 0px 8px 10px -8px #c7a003;
  -webkit-box-shadow: 0px 8px 10px -8px #c7a003; */
  box-shadow: 0px 8px 10px -8px #8d5252;
  -moz-box-shadow: 0px 8px 10px -8px #8d5252;
  -webkit-box-shadow: 0px 8px 10px -8px #8d5252;
  /* background-color: #55313164; */
  border: 1px solid #a55c1b;
  /* color: rgba(255, 255, 255, 0.725); */
  color: rgba(255, 255, 255, 0.897);

  padding: 5px 10px;
  margin: 5px;
  text-align: center;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 8px;
  font-family: "Great Vibes";
  /* transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  -o-transition: all 300ms ease; */
}

.button:hover {
  /* background: rgb(212, 163, 57); */
  background-color: transparent;
  background-color: #836b0b56;
  /* color: #070707; */
  color: rgba(255, 255, 255, 0.897);
  transform: skew(-20deg);
  border: 1px solid #a55c1b;
}

.button1 {
  width: 140px;
  max-width: 140px;
  background-color: transparent;
  /* background-color: rgba(255, 255, 255, 0.078); */
  /* background-color: rgba(255, 0, 0, 0.023); */
  background-color: rgba(0, 0, 0, 0.126);

  /* box-shadow: 0px 10px 13px -5px #633535a3; */
  /* box-shadow: 0px 8px 10px -8px #c7a003;
  -moz-box-shadow: 0px 8px 10px -8px #c7a003;
  -webkit-box-shadow: 0px 8px 10px -8px #c7a003; */
  box-shadow: 0px 8px 10px -8px #8d5252;
  -moz-box-shadow: 0px 8px 10px -8px #8d5252;
  -webkit-box-shadow: 0px 8px 10px -8px #8d5252;
  /* background-color: #55313164; */
  border: 1px solid #a55c1b;
  /* color: rgba(255, 255, 255, 0.725); */
  color: rgba(255, 255, 255, 0.897);

  padding: 5px 10px;
  /* margin: 5px; */
  margin-right: 40px;
  text-align: center;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 8px;
  font-family: "Great Vibes";
  /* transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  -o-transition: all 300ms ease; */
}

.button1:hover {
  /* background: rgb(212, 163, 57); */
  background-color: transparent;
  background-color: #836b0b56;
  /* color: #070707; */
  color: rgba(255, 255, 255, 0.897);
  transform: skew(-20deg);
  border: 1px solid #a55c1b;
}

.video-flex {
  /* border-top: 1.5px dotted rgba(255, 255, 255, 0.462); */
  /* border-top: 1.5px dashed rgba(255, 255, 255, 0.462); */
  padding-top: 20px;
  margin: 0px 10px;
  display: flex;
  flex-wrap: wrap;
  /* align-items: center; */
  justify-content: space-around;
}

/* iframe:visited {
  opacity: 0.1;
} */

main {
  /* border-top: 1.5px dotted rgba(255, 255, 255, 0.462); */
  /* border-top: 1.5px dashed rgba(255, 255, 255, 0.462); */
  padding-top: 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-basis: 200px;
  max-width: 100%;
}

.img {
  height: 220px;
  border-radius: 12px;
  flex-basis: 160px;
  /* margin: 7px;
  padding: 7px; */
  margin: 8px;
  /* margin: 8px; */
  /* padding: 6px; */
  /* padding: 3px; */
  /* box-shadow: 0px 8px 10px -8px #c7a003;
  -moz-box-shadow: 0px 8px 10px -8px #c7a003;
  -webkit-box-shadow: 0px 8px 10px -8px #c7a003; */
  box-shadow: 0px 8px 10px -8px #8d5252;
  -moz-box-shadow: 0px 8px 10px -8px #8d5252;
  -webkit-box-shadow: 0px 8px 10px -8px #8d5252;
}

.img:hover {
  /* background: linear-gradient(45deg, rgb(212, 163, 57), rgb(212, 163, 57)); */
  /* background: linear-gradient(45deg, rgb(243, 168, 6), rgb(158, 28, 5)); */
  /* background: linear-gradient(45deg, rgb(243, 168, 6), rgb(243, 168, 6)); */
  /* background: linear-gradient(45deg, rgb(57, 56, 54), rgb(176, 172, 162)); */

  /* color: #070707; */
  /* transform: scale(1.1); */
  /* opacity: 0.7; */
  /* transform: scale(1.1); */
  transform: skew(-8deg, 8deg);
}

img {
  border-radius: 12px;
}

.flex {
  display: flex;
  justify-content: flex-end;
}

.prev-next {
  display: flex;
  justify-content: center;
  /* border-bottom: 1.5px dotted rgba(255, 255, 255, 0.462); */
}

.paging-fade {
  color: rgb(255, 255, 255);
  /* font-family: 'Great Vibes'; */
  text-align: center;
  font-size: 2.2rem;
  text-shadow: 3px 3px 2px rgb(66, 48, 8);
}

.paging-sep {
  color: rgba(92, 99, 112, 0.5);
  /* font-family: 'Great Vibes'; */
  text-align: center;
  font-size: 2rem;
  /* text-shadow: 3px 3px 2px rgb(66, 48, 8); */
  position: relative;
  bottom: -5px;
}

.prevnext-button {
  width: 100%;
  max-width: 180px;
  /* font-family: 'Great Vibes'; */
  text-align: center;
  font-size: 1.5rem;
  text-shadow: 3px 3px 2px rgb(88, 78, 78);
  color: rgb(243, 168, 6);
  /* color: rgb(250, 0, 0); */
  text-decoration: none;
  padding-top: 10px;
}

.paging-style {
  width: 100%;
  max-width: 180px;
  /* font-family: 'Great Vibes'; */
  text-align: center;
  font-size: 1.5rem;
  /* text-shadow: 3px 3px 2px rgb(88, 78, 78); */
  color: rgb(243, 168, 6);
  /* color: rgb(250, 0, 0); */

  text-decoration: none;
}

.flex-footer {
  display: flex;
  justify-content: center;
  /* margin-top: -20px;
  margin-left: -50px; */
  margin: 5px;
}

.message-box {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 10px;
}

h2 {
  text-align: center;
  font-size: 1.5rem;
  color: rgb(243, 168, 6);
}

input {
  width: 300px;
  height: 35px;
  border: 1px solid rgb(243, 168, 6);
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
}
textarea {
  width: 300px;
  height: 150px;
  border: 1px solid rgb(243, 168, 6);
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
}

.submit-button {
  width: 30%;
  height: 40px;
  max-width: 130px;
  box-shadow: 0px 8px 10px -8px #8d5252;
  background-color: transparent;
  background-color: rgba(0, 0, 0, 0.131);
  border: 1px solid #a55c1b;
  color: rgb(243, 168, 6);
  padding: 5px 10px;
  margin: 5px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  border-radius: 10px;
  transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  -o-transition: all 300ms ease;
}

.submit-button:hover {
  background: rgb(202, 160, 68);
  color: #070707;
  transform: skew(-20deg);
  border: 1px solid #070707;
}

.footer-button {
  width: 100%;
  max-width: 180px;
  box-shadow: 0px 8px 10px -8px #8d5252;
  background-color: transparent;
  background-color: rgba(0, 0, 0, 0.131);
  border: 1px solid #a55c1b;
  color: rgb(243, 168, 6);
  padding: 5px 10px;
  /* margin: 5px; */
  margin: auto;
  text-align: center;
  font-size: 0.75rem;
  cursor: pointer;
  border-radius: 10px;
  transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  /* font-family: 'Great Vibes'; */
}

.footer-button:hover {
  background: rgb(202, 160, 68);
  color: #070707;
  transform: skew(-20deg);
  border: 1px solid #070707;
}
