html {
  font-size: 18px;
  font-family: sans-serif;
  background: #161616;
  -moz-background: #161616;
  -webkit-background: #161616;
  -o-background: #161616;
  background-repeat: repeat;
  min-height: 100vh;
  max-width: 100%;
  background-image: url(/scattered-forcefields-new-dark.svg);
  scroll-behavior: smooth;
}

/* use background selector via html rather than body for better experience on mobile */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-decoration: none;
}

/* @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  .container {
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
  }
} */

.fab {
  color: rgb(255, 255, 255);
}

.fab:hover {
  opacity: 0.5;
}

.fa {
  color: rgb(255, 255, 255);
}

.fa:hover {
  opacity: 0.5;
}

.fas {
  color: rgb(255, 255, 255);
}

.fas:hover {
  opacity: 0.5;
}

#topbar {
  width: 100%;
  height: 60px;
  position: sticky;
  top: 0px;
  z-index: 9;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  -moz-backdrop-filter: blur(20px);
  -o-backdrop-filter: blur(20px);
}

li {
  list-style: none;
}

a {
  color: #ffffff;
  text-decoration: none;
}

.nav-link:hover {
  opacity: 0.5;
}

.container {
  width: 1600px;
}

.subcontainer {
  width: 85%;
  margin: auto;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

.nav-branding {
  font-family: fantasy;
  font-size: 0.6rem;
  margin-left: -25px;
  margin-bottom: -10px;
}

.bullhead {
  width: 55px;
  height: 55px;
  margin-bottom: 10px;
}

.johnny {
  position: relative;
  top: -10px;
  right: -10px;
  z-index: 10;
}

.hamburger {
  height: 40px;
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  margin: 5px 0px;
  transition: all 0.5s ease;
}

@media (max-width: 1600px) {
  .container {
    width: 100%;
  }
}

@media (max-width: 1024px) {
  .hamburger {
    display: block;
  }

  /* .bar:nth-child(1) {
    width: 35px;
    margin-left: 5px;
  }

  .bar:nth-child(2) {
    width: 45px;
  }

  .bar:nth-child(3) {
    width: 35px;
    margin-left: 5px;
  } */

  .hamburger.active .bar:nth-child(2) {
    background-color: #7f8fa6;
    transform: rotate(495deg) translate(-8px);
    transition: all 0.5s;
    width: 35px;
  }

  .hamburger.active .bar:nth-child(1) {
    background-color: #7f8fa6;
    transform: rotate(45deg) translate(10px);
    transition: all 0.5s;
    width: 35px;
  }

  .hamburger.active .bar:nth-child(3) {
    background-color: #7f8fa6;
    transform: rotate(45deg);
    transition: all 0.5s;
    opacity: 0;
  }

  .hamburger span {
    width: 45px;
    height: 8px;
    background: #7f8fa6;
    border-radius: 4px;
  }

  .nav-menu {
    position: fixed;
    width: 100%;
    left: 100%;
    top: 70px;
    /* gap: 0; */
    flex-direction: column;
    text-align: center;
    transition: all 0.3s ease-in-out;
  }

  .nav-item {
    background-color: #201f1fcf;
    border: 10px solid rgba(255, 255, 255, 0);
    border-radius: 25px;
    font-size: 1.2rem;
    box-shadow: #8f8c8c70 0px 0px 0px 1px;
    -webkit-box-shadow: #8f8c8c70 0px 0px 0px 1px;
    -moz-box-shadow: #8f8c8c70 0px 0px 0px 1px;
    -o-box-shadow: #8f8c8c70 0px 0px 0px 1px;
  }

  .nav-menu.active {
    gap: 15px;
    padding: 10px;
    left: 0;
    z-index: 5;
  }
}

#preloader {
  background: url(/vintageloader.webp) no-repeat center;
  background-size: 100px;
  height: 100%;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 10;
  backdrop-filter: blur(25px);
  -webkit-backdrop-filter: blur(25px);
  -moz-backdrop-filter: blur(25px);
  -o-backdrop-filter: blur(25px);
}

iframe {
  /* padding-top: 3px; */
  margin: 6px 0px 6px 0px;
  max-width: 100%;
  box-shadow: 0px 2px 3px 0px #000000;
  -moz-box-shadow: 0px 2px 3px 0px #000000;
  -webkit-box-shadow: 0px 2px 3px 0px #000000;
  -o-box-shadow: 0px 2px 3px 0px #000000;
  border-radius: 12px;
  justify-items: center;
  align-self: center;
  justify-content: center;
  width: 350px;
  height: 197px;
  /* height: 200px; */
}

/* (NOTE TO SELF)
background property fills every pixels of the device opposed to background color and image properties only cover the viewport aka the app screen real estate*/

.home-title {
  margin-top: 10px;
  color: #ffffff;
  font-size: 2rem;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.home-links {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

.phimtitle {
  font-family: sans-serif;
  text-align: center;
  font-size: 1rem;
  text-shadow: 3px 3px 2px rgb(0, 0, 0);
  color: rgba(255, 255, 255, 0.718);
  margin-bottom: -30px;
}

.phimtitle1 {
  font-family: sans-serif;
  text-align: center;
  font-size: 1rem;
  text-shadow: 3px 3px 2px rgb(0, 0, 0);
  color: rgba(255, 255, 255, 0.718);
  margin-bottom: -15px;
  margin-top: 10px;
}

.svg {
  width: 350px;
  margin-left: 20px;
}

.flexbar {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.button {
  width: 140px;
  max-width: 180px;
  background-color: transparent;
  background-color: rgba(0, 0, 0, 0.126);
  box-shadow: 0px 2px 3px 0px #000000;
  -moz-box-shadow: 0px 2px 3px 0px #000000;
  -webkit-box-shadow: 0px 2px 3px 0px #000000;
  -o-box-shadow: 0px 2px 3px 0px #000000;
  border: 1px solid #a55b1b8b;
  color: rgba(255, 255, 255, 0.897);
  padding: 5px 10px;
  margin: 10px;
  text-align: center;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 8px;
  font-family: "Great Vibes";
  position: relative;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  -moz-backdrop-filter: blur(10px);
  -o-backdrop-filter: blur(10px);
}

.button:hover {
  transform: translateY(4px);
  box-shadow: 0px 1px 1px 0px #000000;
  -moz-box-shadow: 0px 1px 1px 0px #000000;
  -webkit-box-shadow: 0px 1px 1px 0px #000000;
  -o-box-shadow: 0px 1px 1px 0px #000000;
  border-style: none;
}

.button:active {
  transform: translateY(4px);
  box-shadow: 0px 1px 1px 0px #000000;
  -moz-box-shadow: 0px 1px 1px 0px #000000;
  -webkit-box-shadow: 0px 1px 1px 0px #000000;
  -o-box-shadow: 0px 1px 1px 0px #000000;
  border-style: none;
}

.button:after {
  content: "";
  position: absolute;
  left: 40px;
  bottom: -8px;
  width: 40%;
  height: 2.5px;
  background: #ffffff;
  border-radius: 5px;
  transform: scaleX(0);
  transition: transform 0.5s;
  /* transform-origin: right; */
}

.button:hover::after {
  transform: scaleX(1);
  /* transform-origin: left; */
}

.button1 {
  width: 100%;
  max-width: 120px;
  height: 100%;
  max-height: 100px;
  background-color: transparent;
  background-color: rgba(0, 0, 0, 0.126);
  box-shadow: 0px 2px 3px 0px #000000;
  -moz-box-shadow: 0px 2px 3px 0px #000000;
  -webkit-box-shadow: 0px 2px 3px 0px #000000;
  -o-box-shadow: 0px 2px 3px 0px #000000;
  border: 1px solid #a55b1b8b;
  color: rgba(255, 255, 255, 0.897);
  padding: 5px 10px;
  text-align: center;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 8px;
  font-family: "Great Vibes";
  position: relative;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  -moz-backdrop-filter: blur(10px);
  -o-backdrop-filter: blur(10px);
}

.button1:hover {
  transform: translateY(3px);
  box-shadow: 0px 1px 1px 0px #000000;
  -moz-box-shadow: 0px 1px 1px 0px #000000;
  -webkit-box-shadow: 0px 1px 1px 0px #000000;
  -o-box-shadow: 0px 1px 1px 0px #000000;
  border-style: none;
}

.button1:active {
  transform: translateY(3px);
  box-shadow: 0px 1px 1px 0px #000000;
  -moz-box-shadow: 0px 1px 1px 0px #000000;
  -webkit-box-shadow: 0px 1px 1px 0px #000000;
  -o-box-shadow: 0px 1px 1px 0px #000000;
  border-style: none;
}

.button1:after {
  content: "";
  position: absolute;
  left: 35px;
  bottom: -8px;
  width: 40%;
  height: 2.5px;
  background: #ffffff;
  border-radius: 5px;
  transform: scaleX(0);
  transition: transform 0.5s;
  /* transform-origin: right; */
}

.button1:hover::after {
  transform: scaleX(1);
  /* transform-origin: left; */
}

.video-flex {
  padding-top: 20px;
  margin: 0px 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-basis: 200px;
  max-width: 100%;
}

.img {
  height: 220px;
  border-radius: 12px;
  flex-basis: 160px;
  margin: 8px;
  box-shadow: 0px 2px 3px 0px #000000;
  -moz-box-shadow: 0px 2px 3px 0px #000000;
  -webkit-box-shadow: 0px 2px 3px 0px #000000;
  -o-box-shadow: 0px 2px 3px 0px #000000;
}

.img:hover {
  transform: skew(-8deg, 8deg);
  /* transform: translateY(4px);
  box-shadow: 0px 2px 4px 0px #ffffff84; */
  /* border: 1px solid #000000; */
}

.img:active {
  transform: skew(-8deg, 8deg);
  /* box-shadow: 0px 2px 4px 0px #ffffff84; */
  /* border: 1px solid #000000; */
}

img {
  border-radius: 12px;
}

.flex {
  display: flex;
  justify-content: flex-end;
}

.prev-next {
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 5px;
}

.paging-fade {
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 2.2rem;
  text-shadow: 3px 3px 2px rgb(0, 0, 0);
}

.paging-sep {
  color: rgba(92, 99, 112, 0.5);
  text-align: center;
  font-size: 2rem;
  text-shadow: 3px 3px 2px rgb(0, 0, 0);
  position: relative;
  bottom: -2px;
}

.prevnext-button {
  width: 100%;
  max-width: 180px;
  text-align: center;
  font-size: 1.5rem;
  text-shadow: 3px 3px 2px rgb(0, 0, 0);
  color: rgb(243, 168, 6);
  text-decoration: none;
  padding-top: 10px;
}

.paging-style {
  width: 100%;
  max-width: 180px;
  text-align: center;
  font-size: 1.5rem;
  text-shadow: 3px 3px 2px rgb(0, 0, 0);
  color: rgb(243, 168, 6);
  text-decoration: none;
}

.flex-footer {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

h2 {
  text-align: center;
  font-size: 1.5rem;
  color: rgb(243, 168, 6);
}

.footer-button {
  width: 100%;
  max-width: 180px;
  box-shadow: 0px 2px 3px 0px #000000;
  -moz-box-shadow: 0px 2px 3px 0px #000000;
  -webkit-box-shadow: 0px 2px 3px 0px #000000;
  -o-box-shadow: 0px 2px 3px 0px #000000;
  border: 1px solid #a55b1b8b;
  background-color: transparent;
  background-color: rgba(0, 0, 0, 0.131);
  color: rgb(243, 168, 6);
  padding: 5px 10px;
  margin: auto;
  text-align: center;
  font-size: 0.75rem;
  cursor: pointer;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  -moz-backdrop-filter: blur(10px);
  -o-backdrop-filter: blur(10px);
}

.footer-button:hover {
  transform: translateY(3px);
  box-shadow: 0px 1px 1px 0px #000000;
  -moz-box-shadow: 0px 1px 1px 0px #000000;
  -webkit-box-shadow: 0px 1px 1px 0px #000000;
  -o-box-shadow: 0px 1px 1px 0px #000000;
  border-style: none;
}

.footer-button:active {
  transform: translateY(3px);
  box-shadow: 0px 1px 1px 0px #000000;
  -moz-box-shadow: 0px 1px 1px 0px #000000;
  -webkit-box-shadow: 0px 1px 1px 0px #000000;
  -o-box-shadow: 0px 1px 1px 0px #000000;
  border-style: none;
}

.footer-button:after {
  content: "";
  position: absolute;
  left: 40px;
  bottom: -8px;
  width: 40%;
  height: 2.5px;
  background: #ffffff;
  border-radius: 5px;
  transform: scaleX(0);
  transition: transform 0.5s;
  /* transform-origin: right; */
}

.footer-button:hover::after {
  transform: scaleX(1);
  /* transform-origin: left; */
}

.astrodivider {
  margin: auto;
  width: 320px;
  max-width: 100%;
  position: relative;
}

.astrodividermask {
  overflow: hidden;
  height: 15px;
}

.astrodividermask:after {
  content: "";
  display: block;
  margin: -25px auto 0;
  width: 100%;
  height: 25px;
  border-radius: 125px / 12px;
  box-shadow: 0 0 8px #ffffffd9;
}

.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The actual popup */
.popup .popuptext {
  visibility: hidden;
  width: 300px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 10;
  top: -180px;
  left: 50%;
  margin-left: -165px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  right: 85%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #555 transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*scroll to top */

#scroll {
  position: fixed;
  right: 10px;
  bottom: 10px;
  cursor: pointer;
  width: 40px;
  height: 40px;
  background-color: #00000089;
  text-indent: -9999px;
  display: none;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  border-radius: 60px;
}
#scroll span {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -8px;
  margin-top: -12px;
  height: 0;
  width: 0;
  border: 8px solid transparent;
  border-bottom-color: #ffffff;
}
#scroll:hover {
  background-color: #122e0f93;
  opacity: 1;
  filter: "alpha(opacity=100)";
  -ms-filter: "alpha(opacity=100)";
}
